.board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 20px auto;
    width: 50vw;
    height: 60vw;
    max-width: 500px;
    max-height: 600px;
    background-color: transparent;
}

.cell {
    position: relative;
    border: 1px solid #333333;
}

.green {
    background-color: rgb(0, 255, 0);
}

.block {
    position: absolute;
    width: 10%;
    height: 8.333%;
    background-color: black;
}
