/* App.css */

@tailwind base;
@tailwind components;
@tailwind utilities;





.logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-text {
  font-size: 18px;
}

.content-container {
  padding: 80px 20px 20px;
  /* Adjust the top padding to accommodate the header */
}

button {
  background-color: #4caf50;
  color: #ffffff;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}



/*
1. teh header section must be divided; the first half will contain the image and the second half will contain the content.

*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}